/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

a {
	cursor: pointer;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/* Custom stuff */
h2 {
	text-align: center;
}
div#graph {
	height: 330px;
}
#status-button {
	float: right;
	margin-right: -20px;
}

/* TYPEAHEAD >:O */
.typeahead,
.tt-query,
.tt-hint {
	width: 100% !important;
	padding: 4px !important;
	height: 30px !important;
	font-size: 14px !important;
}
.twitter-typeahead {
	width: 100% !important;
}

#typeahead-lg .twitter-typeahead,
#typeahead-lg .tt-query,
#typeahead-lg .tt-hint {
	height: 35px !important;
}
.tt-hint {
  color: rgba(255, 255, 255, 0.0) !important;
}

.tt-dropdown-menu {
  margin-top: 5px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.5);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.5);
          box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.tt-suggestion {
  padding: 5px;
  line-height: 15px;
	white-space: nowrap;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

table {
	table-layout: fixed;
	overflow: hidden;
}
